.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# Ignore data files
*.csv

# Ignore plots
*.png

# Do not ignore some data files
!/data/modified-data/missing-taxa-identified.csv
!/data/modified-data/corrected-taxa.csv

